header {
    border-bottom: #dd9710 3px solid;
}
.img-logo {
    width: 50px;
}
.list_book {
    font-size: 24px;
    list-style: circle;
}
.list_book > li > a {
    margin-right: 30px;
}
.errorlist {
    list-style: none;
    padding: 0;
    margin: 10px 0 10px 0;
}
.errorlist >li {
    padding: 0;
    margin: 10px 0 10px 0;
    color: red;
    font-size: 26px;
    font-style: italic;
}