{% extends 'base.html' %}
{% block content %}
    <div class="container px-5">
        <h1>Список книг в БД</h1>
    </div>
    <div class="container px-5">
        <div class="row">
            <div class="col">
                {% if book_list %}
                    <ul class="list_book">
                        {% for book in book_list %}
                        <li>
                            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                            <strong>{{ book.genre }}</strong>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>В базе данных нет книг</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}