{% extends 'base.html' %}
{% block content %}
    <div class="container mx-5 my-5">
        <div class="row justify-content-center">
            <div class="col-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        {{ form.name.label }}
                        <div class="col">
                            {{ form.name }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}